[submodule "components/LovyanGFX"]
	path = components/LovyanGFX
	url = git@github.com:lovyan03/LovyanGFX.git
[submodule "components/lvgl"]
	path = components/lvgl
	url = git@github.com:lvgl/lvgl.git
[submodule "components/extra/esp-idf-lib"]
	path = components/extra/esp-idf-lib
	url = git@github.com:UncleRus/esp-idf-lib.git
[submodule "components/extra/esp-homekit-sdk"]
	path = components/extra/esp-homekit-sdk
	url = git@github.com:dk307/esp-homekit-sdk.git
