#
# Project
#
# CONFIG_SHT3X_SENSOR_ENABLE is not set
CONFIG_SCD30_SENSOR_ENABLE=y
CONFIG_SCD30_SENSOR_TEMPERATURE_OFFSET=160
# CONFIG_SCD4x_SENSOR_ENABLE is not set
# CONFIG_ENABLE_SD_CARD_SUPPORT is not set
# end of Project
